.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 54px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header nav {
  margin-top: -18px;
}

.App-header .container {
  width: 1110px;
}

.navbar-brand {
  color: white;
  font-size: 25px;
}

/* .nav li a:hover {
  width: 100px;
  height: 37px;
  margin-top: 6px;
  padding-top: 8px!important;
  color: white;
  cursor: default!important;
  background-color: #0275d8!important;
} */

.hihi {
  width: 100px!important;
  height: 37px!important;
  margin-top: 6px!important;
  padding-top: 8px!important;
  color: white;
  cursor: default!important;
  background-color: #0275d8!important;
}

nav i {
  margin-right: 5px;
}

.home { 
  color: white;
  font-size: 25px;
  margin-right: 10px;
}

.home:hover {
  color: #f1f1f1;
}

.img-content {
  height: 70vh!important;
  object-fit: cover!important;
  width: 100%; 
  height: 100%;
}